<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.appdatvemaybay">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".Country.InnitDataCountry"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppDatVeMayBay"
        tools:targetApi="31">
        <activity
            android:name=".TomtatHT"
            android:exported="false" />
        <activity
            android:name=".ThongtinKH"
            android:exported="false" />
        <activity
            android:name=".ChuyenDiCuaBanActivity"
            android:exported="false" />
        <activity
            android:name=".ChuyenVecuaBanActivity"
            android:exported="false" />
        <activity
            android:name=".DiemDenActivity"
            android:exported="false" />
        <activity
            android:name=".DiemKhoiHanhActivity"
            android:exported="false" />
        <activity
            android:name=".BottomHanhKhach"
            android:exported="false" />
        <activity
            android:name=".SignPhone"
            android:exported="false" />
        <activity
            android:name=".OtpActivity"
            android:exported="false" />
        <activity
            android:name=".VerifyPhoneNumber"
            android:exported="false"
            android:label="@string/title_activity_verify_phone_number"
            android:theme="@style/Theme.AppDatVeMayBay.NoActionBar" />
        <activity
            android:name=".YourAccountFragment"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".SigninActivity"
            android:exported="false" />
        <activity
            android:name=".DemoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>